<footer class="footer">
    <div class="content has-text-right">
        <p style="display: flex; align-items: center; justify-content: right;">
            <a target="_blank" href="https://bulma.io" style="display: flex; align-items: center;">
                <img style="height: 20px; margin-right: 5px;" src="/images/BulmaIcon.png"/>&nbsp;
                <strong>Bulma</strong>
            </a>&nbsp;by&nbsp;<a target="_blank" href="https://jgthms.com">Jeremy Thomas</a>
        </p>
    </div>
</footer>