<% include partials/_header %>
<body>
    <section class="section">
        <div class="column is-justify-content-center is-align-items-center" style="max-width: 200px; margin: 0 auto;"></div>
            <h1 class="title is-3">Error <%= error.status %></h1>
            <h1 class="title is-4"><%= message %></h1>
        </div>    
    </section>
    <% include partials/_footer %>
</body>